body {
    background-color: #581919;
    color: white;
    font-size: larger;
}

.navBar {
    padding: 10px;
}

.nav-bar-item:hover {
    filter: drop-shadow(0 0 0.75rem rgb(245, 244, 240));
}

.svgImg {
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
}

.gojoImg {
    margin-top: 10px;
    width: 120%;
    height: 105%;
    margin-left: 35%;
    filter: drop-shadow(0 0 0.75rem rgb(245, 244, 240));
}


