.navBar {
    background-color: #5c1e01;
    z-index: 9999;
    /* Ensure the navbar appears on top of other elements */
}

.bg-color{
    background-color: #5c1e01;
    top: 50%;
    width: 50%;
}

.bgWidth{
    width: 75%;
}